body {
  background-image: url(./../warp_starfield_dimmed.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: white;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 14px;
}

body.index {
  background-repeat: repeat-y;
  background-position: top;
}

.content {
  margin: 0 auto;
  padding: 40px 120px;
  width: 680px;
}

header {
  position: relative;
  height: 80px;
  margin-bottom: 4em;
}
header h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./../RM3-outline-small.png);
}
header h2 {
  position: absolute;
  top: 0;
  left: 180px;
  width: 300px;
  background-image: url(./../RM3-videos-small.png);
}

h1, h2 {
  background-repeat: no-repeat;
  background-position: left center;
}
h1 a,
h2 a {
  color: transparent;
  display: block;
}

h1, h1 a, h2, h2 a {
  height: 80px;
  margin: 0;
}

.details {
  margin-top: 40px;
  float: right;
  padding: 10px;
  background-color: #111;
  opacity: 0.65;
}

.details h3 {
  margin: 0 0 0.3em 0;
}

.details p {
  color: #666;
  font-weight: normal;
  margin: 0;
}

.details a {
  font-weight: bold;
  color: #999;
}

.thumbnails .details {
  opacity: 0.85;
  text-align: right;
}

.thumbnails .details img {
  margin-bottom: 10px;
}